<div style="padding: 20px;">
    <h1>Registro</h1>
    <form (ngSubmit)="onRegister()">
        <input type="text" [(ngModel)]="name" name="name" placeholder="Nombre" required>
        <div class="error" *ngIf="getErrorFor('name')">
            <span>{{ getErrorFor('name') }}</span>
        </div>

        <input type="email" [(ngModel)]="email" name="email" placeholder="Correo" required>
        <div class="error" *ngIf="getErrorFor('email')">
            <span>{{ getErrorFor('email') }}</span>
        </div>

        <input type="text" [(ngModel)]="edad" name="edad" placeholder="Edad" required>
        <div class="error" *ngIf="getErrorFor('edad')">
            <span>{{ getErrorFor('edad') }}</span>
        </div>

        <select [(ngModel)]="genero" name="genero" required>
            <option value="" disabled selected>Selecciona género</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
        </select>
        <div class="error" *ngIf="getErrorFor('genero')">
            <span>{{ getErrorFor('genero') }}</span>
        </div>

        <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required>
        <div class="error" *ngIf="getErrorFor('password')">
            <span>{{ getErrorFor('password') }}</span>
        </div>

        <button type="submit">Ingresar</button>
    </form>
</div>